* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: rgb(255, 6, 6);
    padding: 0.1rem 1rem; 
    position: sticky;
    top: 0;
    box-shadow: 5px 0px 10px #2c2c2c; 
    z-index: 99;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header-image img {
    width: 80px; 
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem; 
}

nav ul li {
    font-size: 1rem; 
    font-weight: bold;
    color: white;
}

.menu-icon img {
    width: 25px; 
    height: auto;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: gray; 
}

#logo-image {
    width: auto; 
    height: 70px;
    object-fit: contain;
}

.dropdown-menu {
    display: none;
    position: absolute; 
    background-color: white;
    border: 1px solid #ccc; 
    z-index: 100; 
    left: 50%; 
    transform: translateX(-50%);
    padding: 10px; 
}

.dropdown-menu p {
    text-align: center; 
    margin: 0;
    padding: 5px 0; 
}

.dropdown-menu.show {
    display: block; 
}


.dropdown-menu ul {
    list-style: none;
    padding: 10px; 
}

.dropdown-menu ul li {
    margin: 5px 0; 
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: black; 
    transition: color 0.3s;
}

.dropdown-menu ul li a:hover {
    color: crimson; 
}

.content {
    display: none; 
    width: 300px; 
    padding: 20px; 
    border: 1px solid #ccc;
    position: absolute; 
    top: 50px; 
    right: 0; 
    background-color: white; 
    z-index: 99; 
}