*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(155, 3, 3);
}
.title
{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 75px;
}
.title h1
{
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}
.wrapper
{
    
    width: 360px;
    height: 400px;
    background: transparent;
    border: 2px none rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 40px 20px;
}
.wrapper a
{
    width: 200px;
    
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 30px 40px;
    

    color:  rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 600;
    
}
.wrapper a:hover
{
    text-decoration: underline;
}
.wrapper .NPC
{
    text-align: center;
    justify-content: center;
    
}
.wrapper .cadastro
{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}